@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;box-sizing:border-box;}
body{padding:0;margin:0;color:#333;background:#fff;font: 14px "microsoft yahei", Arial, Helvetica, sans-serif;box-sizing:border-box;}
a,area{blr:expression(this.onFocus=this.blur())}
/* for IE */
:focus{-moz-outline-style:none;}
/* for Firefox */
a{text-decoration:none;color:#333;outline:none;}
a:hover{color:#0268c3;text-decoration:none;outline:none;}
#site-footer a:hover{text-decoration:none;}
a img{border:none;}
table tr td{font-size:14px;}
font{ font-size:14px;}
ul{list-style:none;}
a,div,p,ul,li,span{padding:0px;margin:0px;box-sizing:border-box;}
.length{word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.box{display:-moz-inline-stack; display:inline-block; *display:inline; *zoom:1;}
/* Wrapper */
.font{font-family:"宋体";}

/*公用*/
#header,#nav,#banner,#mian,#scape,#link,#footer_box,#footer{width:100%;min-width:1003px;margin:0 auto;}
#header_main,#nav_main,#nav_main2,#banner_main,#main_con,#footer_box_main,#footer_main,#hb,#lw,#scfq{width:1003px;margin:0 auto;}
.container{ width:1003px;margin:0 auto; text-align:left; padding:0;}
.logo{ float:left;}
.clear{clear:both;display:table;content:"";}

/*index页面*/
/*header*/
#header{height:41px;background:url(../images/header_bg.png) no-repeat center;min-width:1003px;}
#header_main{height:41px;line-height:41px;}
.header_date{float:left;height:41px;line-height:41px;}
.header_contact{float:right;height:41px;line-height:41px;}
.header_contact ul{height:41px;line-height:41px;}
.header_contact ul li{float:left;height:41px;line-height:41px;}
.header_contact ul li a{display:inline-block;padding-left:25px;text-align:right;margin-right:20px;background:url(../images/email.jpg) no-repeat left;}
.header_contact ul li a.app{background:url(../images/app.jpg) no-repeat left;}
.header_contact ul li a.mr0{margin-right:0;}

/*hheader_logo*/
#header_logo{background:url(../images/wKiAi.jpg) no-repeat center top;height:113px;min-width:1003px;}

/*nav*/
#nav,#nav2{height:40px;min-width:1003px;background:url(../images/menu_bg.png) no-repeat center; position:relative; z-index:30;margin-bottom:50px;}
#nav_main,#nav_main2{height:40px;}
#nav_main ul li,#nav_main2 ul li{float:left; position:relative;margin-left: 0;}
#nav_main ul li a,#nav_main2 ul li a{display:inline-block;width:92px;height:40px;color: #000;line-height:35px;text-align:center;font-size:18px;font-weight:bold;margin:0 5px;text-decoration: none;}
#nav_main ul li a:hover{color: #0268c3;}
#nav_main ul li.current-menu-item a,#nav_main ul li.current-menu-item a:hover{background:url(../images/nav_bg.png) repeat center;color:#fff;}

.wrap {position: relative;width: 1200px;height: 360px;margin: 0 auto 50px;}
.content {position: absolute;width: 1200px;height: 360px;}
.content li{position: absolute;background-size: 100% 100%;cursor: pointer;}
.wrap #jt>a {position: absolute;display: none;z-index: 2;top: 50%;width: 60px;height: 60px;margin-top: -30px;font: 36px/60px "ËÎÌå";text-align: center;text-decoration: none;color: #fff;background: rgb(255, 100, 0);background: rgba(255, 100, 0, .6);transition: background 1s ease;}
.wrap #jt>a:hover {background: rgb(255, 100, 0);}
.content li a{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.prev {left: 30px;}
.next {right: 30px;}

#hb,#lw,#scfq{margin-bottom: 50px;}
#hb .left,#lw .left,#scfq .left{width: 35%;box-sizing: border-box;float: left;}
#hb .left:nth-child(3),#lw .left:nth-child(3),#scfq .left:nth-child(3){width: 30%;}
#hb .left:first-child,#lw .left:first-child{padding: 0 20px 0 0;background: url(../images/1.png) no-repeat right top;background-size: 1px 100%;height: 225px;}
#scfq .left:first-child{padding: 0 20px 0 0;}
#scfq .left:nth-child(2){padding: 0 20px;}
#lw .left:first-child{padding: 0 20px 0 0;height: 199px;}
#hb .left:nth-child(2){padding: 0 20px;}
#lw .left:nth-child(2){padding: 0 20px;}
#hb .left h2,#lw .left h2,#scfq .left h2{font-size: 1.6rem;font-weight: normal;margin: 0 0 10px;border-left: 2px solid #0268c3;padding-left: 5px;color: #333;}
#hb .left h3{font-size: 1.6rem;font-weight: normal;margin: 0 0 10px;color: #333;}
#hb .left h2 a,#lw .left h2 a{float: right;font-size: 1.4rem;}
#hb .left:first-child>div,#scfq .left:first-child>div{white-space: pre-line;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;line-height: 2;}
#scfq .left:first-child>div{-webkit-line-clamp: 7;}
#hb .left:first-child>a{color: #0268c3;}
#hb .left:nth-child(2) ul,#lw .left ul{list-style: disc;margin-left: 20px;}
#hb .left:nth-child(2) ul a,#lw .left ul a{color: #666;display: flex;line-height: 2;}
#hb .left:nth-child(2) ul a:hover,#lw .left ul a:hover{color: #0268c3;}
#hb .left:nth-child(2) ul a span:last-child,#lw .left ul a span:last-child{float: right;color: #808080;}
#hb .left:nth-child(2) ul a span:first-child,#lw .left ul a span:first-child{white-space: nowrap;text-overflow:ellipsis;overflow:hidden;width: calc(100% - 90px);display: inline-block;}
.swiper1 .swiper-slide p,.swiper2 .swiper-slide p{position: absolute;left: 0;bottom: 0;width: 100%;background: rgba(0,0,0,0.5);color: #fff;padding: 5px;}
.swiper-container .swiper-pagination-bullet{background: #fff;opacity: 1;}
.swiper-container .swiper-pagination-bullet-active{background: #0268c3;}
.swiper-container .swiper-pagination{text-align: right;bottom: 7px;padding-right: 4px;}

#scfq{width:100%;max-width:1920px;margin: 0 auto 50px;padding: 60px 10px 100px;background: #f4f4f4 url(../images/6.png) no-repeat center top;background-size: cover;}
#scfq .left li{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;line-height: 2;}
#scfq .left li a span:first-child{color: #0268c3;}
#scfq .left ul li:first-child{border-bottom: 1px dashed #acadad;padding-bottom: 6px;margin-bottom: 3px;}
#scfq .left ul li:first-child span{color: #0268c3;font-size: 1.6rem;}
#scfq .left ul li:first-child img{float: left;height: 60px;margin-right: 10px;}

#touzi{width:100%;max-width:1920px;margin: 0 auto 50px;padding: 60px 10px 100px;background: #f4f4f4 url(../images/2.png) no-repeat right top;background-size: auto 100%;}
#touzi .container ul{width: 520px;}
#touzi .container ul.title{margin-bottom: 10px;font-size: 1.6rem;}
#touzi .container ul.title li{line-height: 4rem;box-sizing: border-box;float: left;width: 25%;text-align: center;color: #666;background: url(../images/1.png) no-repeat left bottom;background-size: 100% 1px;cursor: pointer;}
#touzi .container ul.title li.active{color: #0268c3;background: url(../images/3.png) no-repeat left top;background-size: 100% 100%;}
#touzi .container ul.list{height: calc(21rem + 7px);list-style: disc;margin-left: 20px;}
#touzi .container ul.list li{line-height: 3rem;border-bottom: 1px dashed #e3e3e3;}
#touzi .container ul.list li a{display: flex;}
#touzi .container ul.list li a span:last-child{float: right;color: #808080;}
#touzi .container ul.list li a span:first-child{white-space: nowrap;text-overflow:ellipsis;overflow:hidden;width: calc(100% - 131px);display: inline-block;}

#site-content{overflow: initial;}
#site-content>.detail .postcontent{float: left;width: 739px;box-sizing: border-box;border: 1px solid #bfbbbb;border-radius: 6px;padding: 10px 20px 50px;font-size: 1.6rem;line-height: 1.5;}
#site-content>.detail .nocategory .postcontent{width: 100%;float: none;}
#site-content>.detail .list .postcontent>ul>li{margin: 0;padding: 10px;border-bottom: 1px solid #ddd;}
#site-content>.detail .list .postcontent>ul>li:first-child{border-top: 1px solid #ddd;}
#site-content>.detail .list .postcontent>ul>li span{float: left;}
#site-content>.detail .list .postcontent>ul>li p{margin: 0 0 0 120px;}
#site-content>.detail .list .postcontent>ul>li:nth-child(2n+1){background: #f8f8f8;}
#site-content>.detail .list .postcontent .pagination{text-align: right;margin-top: 10px;}
#site-content>.detail .list .postcontent .pagination li{display: inline-block;margin-left: 5px;}
#site-content>.detail .list .postcontent .pagination li.active span{color: #ca0b0f;}
#site-content>.detail .postcontent .t{text-align: center;font-size: 2rem;margin-bottom: 0.5rem;}
#site-content>.detail .postcontent .rc{text-indent: 32px;}
#site-content>.detail .postcontent .rc *{line-height:2;}
#site-content>.detail .postcontent .date{color: #666;font-size: 12px;text-align: center;margin-bottom: 1rem;}
#site-content>.detail .list .postcontent .t{text-align: left;font-weight: bold;margin-bottom: 10px;}
#site-content>.detail .category{float: right;width: 254px;box-sizing: border-box;border: 1px solid #bfbbbb;border-radius: 6px;overflow: hidden;padding: 0 0 10px;}
#site-content>.detail .category p.title{background:url(../images/4.png) no-repeat center;line-height: 30px;padding: 5px 10px 0;}
#site-content>.detail .category p.title span{background: #fff;display: inline-block;padding: 0 10px;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #0268c3;}
#site-content>.detail .category ul li{ width:238px; height:38px; margin-left:6px; background:url(../images/5.png); text-indent:54px; line-height:45px; color:#0268c3;}
#site-content .dowebok{background: none;}
#site-content .dowebok li{margin: 10px 0;width: 20%;float: left;text-align: center;font-size: 1.4rem;}
#site-content .dowebok li a{position: relative;display: block;}
#site-content>.detail.liststyle .list .postcontent>ul>li{background: none;}
#site-content>.detail.liststyle .list .postcontent>ul>li div:first-child{float: left;width: 102px;margin-right: 20px;}
#site-content>.detail.liststyle .list .postcontent>ul>li div:first-child img{width: 100%;height: 78px;}
#site-content>.detail.liststyle .list .postcontent>ul>li div p{font-size: 1.2rem;}
#site-content>.detail.liststyle .list .postcontent>ul>li div p:first-child{font-weight: bold;}

#site-footer #nav2{background:url(../images/4.png) no-repeat center;}
#site-footer #nav_main2 ul li.current-menu-item a{background: none;color: #fff;}
#site-footer #nav_main2 ul li a{color: #fff;}
#site-footer .bottom{font-size: 1.4rem;}

.rc2 .label-left .nf-field-label label{font-size: 1.2rem;}
.rc2 .nf-form-fields-required{text-align: center;margin: 10px 0;}
.rc2 .nf-field-container{margin-bottom: 5px;}
.rc2 .nf-form-content input.ninja-forms-field{font-size: 1.2rem;height: 24px;padding: 0 10px;}
.rc2 .nf-form-content textarea{font-size: 1.2rem;}
.rc2 .nf-error.field-wrap .nf-field-element:after{height: 22px;width: 24px;line-height: 24px;}
.rc2 .nf-pass.field-wrap .nf-field-element:after{font-size: 20px;height: 24px;line-height: 24px;right: 4px;}
.rc2 .label-above .nf-field-element{padding-left: 84px;}
.rc2 .label-above .nf-field-element input{background: #e4e4e5;color: #222;font-size: 1.2rem;outline: none;}
.rc2 .label-above .nf-field-element input:hover,.rc2 .label-above .nf-field-element input:active{text-decoration: none;background: #cdcdce;color: #222;}
.rc2 .nf-error-msg{text-align: center;}
.rc2 .nf-form-content textarea.ninja-forms-field{height: 150px;}

.scfq .rc img{max-width: 100%;margin: 0 auto 20px;}
#site-content>.detail .postcontent.shares .date{padding: 5px 10px;line-height: 24px;text-align: left;background: #e7e7e7;}